<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Coupang Fresh Price Search</title>
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="style.css" rel="stylesheet" />
		<script>
			function filter()
			{
				labelminprice.innerText=`Min : ${minprice.value}`;
				labelmaxprice.innerText=`Max : ${maxprice.value}`;
				for(let x of document.querySelectorAll('body > section > div > div > div'))
				{
					if(x.getAttribute('price')>=parseInt(minprice.value) && x.getAttribute('price')<=parseInt(maxprice.value)) x.classList.remove('d-none')
					else x.classList.add('d-none')
				}
			}
		</script>
    </head>
    <body>
        <!-- Responsive navbar-->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container px-lg-5">
                <a class="navbar-brand" href="#!">Coupang Fresh Price Search</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    </ul>
                </div>
            </div>
        </nav>
        <!-- Page Content-->
        <section class="pt-4">
            <div class="container px-lg-5">
					<label id="labelminprice" class="form-label">Min : 0</label>
					<input type="range" oninput="filter();" min="0" max="10000" step="100" value="0" class="form-range" id="minprice">
					<label id="labelmaxprice" class="form-label">Max : 10000</label>
					<input type="range" oninput="filter();" min="0" max="10000" step="100" value="10000" class="form-range" id="maxprice">
                <!-- Page Features-->
                <div class="row gx-lg-5">
<% for(let name in data){  %>
					<div class="col-lg-4 col-xxl-3 mb-5" price='<%=data[name]['price']%>'>
					<a href=<%=data[name]['link']%> class="text-dark text-decoration-none">
                        <div class="card bg-light border-0 h-100">
							<img class="card-img-top" src=<%=data[name]['img']%>>
                            <div class="card-body text-center p-4 p-lg-5 pt-0 pt-lg-0 mt-5">
                                <h2 class="fs-4 fw-bold"><%=data[name]['price']%>원</h2>
								<p class="mb-0"><%=name%></p>
								
                            </div>
                        </div>
					</a>
                    </div>
<%} %>
                </div>
            </div>
        </section>
        <!-- Footer-->
        <footer class="py-5 bg-dark">
            <div class="container"><p class="m-0 text-center text-white">Copyright &copy; Your Website 2022</p></div>
        </footer>
    </body>
</html>